@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
.clockpage-container {
  position: relative;
  background-image: var(--background-country);
  background-size: cover; /* fyller hela ytan utan att sträcka */
  background-position: center; /* centrerar bilden */
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.analogclock-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}

.digitalclock-container {
  min-width: 300px;
  font-family: "Irish Grover", cursive;
  font-size: 4rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 10px;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.75rem;
  border-radius: 10px;
  border: 1px solid black;
}
